/* =Footer
----------------------------------------------- */

.site-footer {
    background: #242424;
    padding: 15px 0 0;
    .l-constrained {
        list-style: none;
    }
    .footer-item {
        box-sizing: content-box;
        margin-top: 20px;
        padding-bottom: 20px;
        border: solid #5a5a5a;
        border-width: 0 0 1px;
        @media screen and (min-width: 520px) {
            border-width: 0 1px 0 0;
            padding-right: 1.9%;
            margin: 0 1.9% 0 0;
            float: left;
            width: 30%;
        }
        &:last-child {
            margin-right: 0;
            border-right: 0;
        }

        a {
            color: white;

            &:link, &:visited {
                text-decoration: none;
            }
            &:active, &:hover {
                text-decoration: underline;
            }
        }

        li {
            color: #808080;
            font-size: 14px;
            font-size: 1.4rem;
        }
    }
    .footer-heading {
        color: $primary;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        font-size: 1.8rem;
        font-family: Lato, Helvetica, sans-serif;
    }
    .footer-item-desc {
        color: #808080;
        text-align: justify;
        font-size: 14px;
        font-size: 1.4rem;
        margin-top: 15px;
    }
    .copyright-details {
        background: #000;
        color: white;
        text-align: center;
        font-size: 12px;
        font-size: 1.2rem;
        padding: 10px 0;
        margin-top: 30px;
        a {
            color: white;
            text-decoration: none;
        }
    }
}
